
# HTID:19477854: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1

php_flag output_buffering on
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:19477854:





# HTID:19738471: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
RewriteEngine on
RewriteRule ^connection$ login_view.php
RewriteRule ^inscription$ register_view.php
RewriteRule ^feed$ feed_view.php
RewriteRule ^mesPosts$ myPost_view.php
RewriteRule ^profil$ profil_view.php
RewriteRule ^post$ post_view.php
RewriteRule ^publierUnPost$ pubPost_view.php
RewriteRule ^admin$ admin_view.php
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:19738471:
